extends ../layout

block content
  .page-header
    h3 Create Bitcoin Wallet with Blockchain
  form(method='POST', action="/postwallet")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.control-label(for='password') Bitcoin Wallet Password
      input.form-control(type='text', name='password', id='password', placeholder='Enter a Password for a new Bitcoin Wallet', autofocus=true)
    button.btn.btn-default(type="submit") Create a Bitcoin Wallet
