extends ./layout
head
  title Forbidden - 403
block content
  .container
    .row
      .col-sm-12
        h1.text-center Something happened, and you aren't supposed to be here!
        h3.text-center= error
        h3.text-center Try the back button. 
