doctype html

extends ./layout
head
  title Page not Found - 404
block content
  .container
    .row
      .col-sm-12
        h1.text-center Something happened, and the page you were trying to reach doesn't exist.
        h3.text-center= error
        h3.text-center Try the back button.
