doctype html
extends ./layout
head
  title Unexpected Error Occurred
block content
  .container
    .row
      .col-sm-12
        h1.text-center Something happened, and we have a server error.
        h2.text-center= error
        h3.text-center Try the back button.
