extends layout

block content
  
  h1 Welcome to BitHub
  p.lead Place a bounty on the issues that matter.
  if !user
    .page-header
      h4 Starting is easy
      a.btn.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign in with GitHub
  else
    .row
        .col-sm-6(class=!wallet?'col-sm-offset-3':undefined)
          a.btn.btn-lg.btn-default.btn-block#toggle-wallet-box(href="#add-wallet-box") Add / Change Your Wallet
        if wallet
          .col-sm-6
            a.btn.btn-lg.btn-default.btn-block#toggle-bounty-box(href="#place-bounty-box") Place a Bounty
    .row.boxes-row
      .col-md-8.col-md-offset-2
        #add-wallet-box(style="display: none;")
          include partials/new-wallet-form
        #place-bounty-box(style="display: none;")
          include partials/new-bounty-form
