extends ../layout

block content
  form(method='POST', action="/bounty/new")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.control-label(for='email') New Bounty URL
      input.form-control(type='text', name='bountyUrl', id='bountyUrl', placeholder='Enter the Github issues url to bounty', autofocus=true)
    .form-group
      label(for="bountyAmount") Amount (in mBTC)
      .input-group
        .input-group-addon ฿
        input.form-control(type="text", name="bountyAmount", id="bountyAmount", placeholder="Amount")
    button.btn.btn-default(type="submit") Submit Your Bounty
